/*
 * ShellDataReportingAPIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.shell.apitest.controllers;

import com.shell.apitest.ApiHelper;
import com.shell.apitest.Server;
import com.shell.apitest.exceptions.ApiException;
import com.shell.apitest.exceptions.ErrorObjectException;
import com.shell.apitest.http.request.HttpMethod;
import com.shell.apitest.models.AccountReq;
import com.shell.apitest.models.AccountRes;
import com.shell.apitest.models.AuditReq;
import com.shell.apitest.models.AuditResponse;
import com.shell.apitest.models.CardGroupReq;
import com.shell.apitest.models.CardGroupRes;
import com.shell.apitest.models.CardTypeReq;
import com.shell.apitest.models.CardTypeRes;
import com.shell.apitest.models.CustomerPriceListReq;
import com.shell.apitest.models.CustomerPriceListRes;
import com.shell.apitest.models.CustomerReq;
import com.shell.apitest.models.CustomerRes;
import com.shell.apitest.models.LoggedInUserReq;
import com.shell.apitest.models.LoggedInUserRes;
import com.shell.apitest.models.PayerReq;
import com.shell.apitest.models.PayerRes;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class CustomerController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public CustomerController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This operation allows querying the user data of the logged in user. This operation should be
     * called only after successful authentication of the end user in client application. This
     * operation will return the user access details such as payers and/or accounts. This operation
     * will also validate that logged in user has access to the requested operation, on failure it
     * will return HasAPIAccess flag as false in the response.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the LoggedInUserRes response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public LoggedInUserRes userLoggedinuser(
            final String requestId,
            final LoggedInUserReq body) throws ApiException, IOException {
        return prepareUserLoggedinuserRequest(requestId, body).execute();
    }

    /**
     * This operation allows querying the user data of the logged in user. This operation should be
     * called only after successful authentication of the end user in client application. This
     * operation will return the user access details such as payers and/or accounts. This operation
     * will also validate that logged in user has access to the requested operation, on failure it
     * will return HasAPIAccess flag as false in the response.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the LoggedInUserRes response from the API call
     */
    public CompletableFuture<LoggedInUserRes> userLoggedinuserAsync(
            final String requestId,
            final LoggedInUserReq body) {
        try {
            return prepareUserLoggedinuserRequest(requestId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for userLoggedinuser.
     */
    private ApiCall<LoggedInUserRes, ApiException> prepareUserLoggedinuserRequest(
            final String requestId,
            final LoggedInUserReq body) {
        return new ApiCall.Builder<LoggedInUserRes, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SHELL.value())
                        .path("/user-management/v1/loggedinuser")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("RequestId")
                                .value(requestId).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("BearerToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, LoggedInUserRes.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This API allows querying the payer accounts details from the Shell Cards Platform. It
     * provides flexible search criteria for searching payer information and supports paging. Paging
     * is applicable only when all the payers passed in the input are from the same ColCo. However,
     * paging will be ignored and the API will return all the matching data by merging the data
     * queried from each ColCo when payers passed in the input are from multiple ColCos.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the PayerRes response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public PayerRes customerpayers(
            final String requestId,
            final PayerReq body) throws ApiException, IOException {
        return prepareCustomerpayersRequest(requestId, body).execute();
    }

    /**
     * This API allows querying the payer accounts details from the Shell Cards Platform. It
     * provides flexible search criteria for searching payer information and supports paging. Paging
     * is applicable only when all the payers passed in the input are from the same ColCo. However,
     * paging will be ignored and the API will return all the matching data by merging the data
     * queried from each ColCo when payers passed in the input are from multiple ColCos.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the PayerRes response from the API call
     */
    public CompletableFuture<PayerRes> customerpayersAsync(
            final String requestId,
            final PayerReq body) {
        try {
            return prepareCustomerpayersRequest(requestId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for customerpayers.
     */
    private ApiCall<PayerRes, ApiException> prepareCustomerpayersRequest(
            final String requestId,
            final PayerReq body) {
        return new ApiCall.Builder<PayerRes, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SHELL.value())
                        .path("/customer-management/v1/payers")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("RequestId")
                                .value(requestId).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("BearerToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, PayerRes.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This API allows querying the card delivery addresses of a given account from the Shell Cards
     * Platform. Only active delivery addresses will be returned.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the CustomerRes response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public CustomerRes customerdetail(
            final String requestId,
            final CustomerReq body) throws ApiException, IOException {
        return prepareCustomerdetailRequest(requestId, body).execute();
    }

    /**
     * This API allows querying the card delivery addresses of a given account from the Shell Cards
     * Platform. Only active delivery addresses will be returned.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the CustomerRes response from the API call
     */
    public CompletableFuture<CustomerRes> customerdetailAsync(
            final String requestId,
            final CustomerReq body) {
        try {
            return prepareCustomerdetailRequest(requestId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for customerdetail.
     */
    private ApiCall<CustomerRes, ApiException> prepareCustomerdetailRequest(
            final String requestId,
            final CustomerReq body) {
        return new ApiCall.Builder<CustomerRes, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SHELL.value())
                        .path("/customer-management/v1/customer")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("RequestId")
                                .value(requestId).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("BearerToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, CustomerRes.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This API allows querying the customer account details from the Shell Cards Platform. It
     * provides a flexible search criterion and supports pagination.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the AccountRes response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public AccountRes postCardAccounts(
            final String requestId,
            final AccountReq body) throws ApiException, IOException {
        return preparePostCardAccountsRequest(requestId, body).execute();
    }

    /**
     * This API allows querying the customer account details from the Shell Cards Platform. It
     * provides a flexible search criterion and supports pagination.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the AccountRes response from the API call
     */
    public CompletableFuture<AccountRes> postCardAccountsAsync(
            final String requestId,
            final AccountReq body) {
        try {
            return preparePostCardAccountsRequest(requestId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for postCardAccounts.
     */
    private ApiCall<AccountRes, ApiException> preparePostCardAccountsRequest(
            final String requestId,
            final AccountReq body) {
        return new ApiCall.Builder<AccountRes, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SHELL.value())
                        .path("/customer-management/v1/accounts")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("RequestId")
                                .value(requestId).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("BearerToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, AccountRes.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This API provides allows querying the active card types that are associated to the given
     * account. The API returns the card type configurations, purchase categories associated with
     * the card type and the card type restriction limits.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the CardTypeRes response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public CardTypeRes customercardtypev(
            final String requestId,
            final CardTypeReq body) throws ApiException, IOException {
        return prepareCustomercardtypevRequest(requestId, body).execute();
    }

    /**
     * This API provides allows querying the active card types that are associated to the given
     * account. The API returns the card type configurations, purchase categories associated with
     * the card type and the card type restriction limits.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the CardTypeRes response from the API call
     */
    public CompletableFuture<CardTypeRes> customercardtypevAsync(
            final String requestId,
            final CardTypeReq body) {
        try {
            return prepareCustomercardtypevRequest(requestId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for customercardtypev.
     */
    private ApiCall<CardTypeRes, ApiException> prepareCustomercardtypevRequest(
            final String requestId,
            final CardTypeReq body) {
        return new ApiCall.Builder<CardTypeRes, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SHELL.value())
                        .path("/customer-management/v1/cardtype")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("RequestId")
                                .value(requestId).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("BearerToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, CardTypeRes.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This API allows querying the card group details from the Shell Cards Platform. It provides
     * flexible search criteria and supports paging. When the account is not passed in the input and
     * card group type is configured as â€˜Verticalâ€™ in the cards platform, this API will return
     * all card groups from the payer as well as from all the accounts under the payer. When the
     * account is not passed in the input and card group type is configured as â€˜Horizontalâ€™ in
     * cards platform, this API will return all card groups configured directly under the payer.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the CardGroupRes response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public CardGroupRes cardgroups(
            final String requestId,
            final CardGroupReq body) throws ApiException, IOException {
        return prepareCardgroupsRequest(requestId, body).execute();
    }

    /**
     * This API allows querying the card group details from the Shell Cards Platform. It provides
     * flexible search criteria and supports paging. When the account is not passed in the input and
     * card group type is configured as â€˜Verticalâ€™ in the cards platform, this API will return
     * all card groups from the payer as well as from all the accounts under the payer. When the
     * account is not passed in the input and card group type is configured as â€˜Horizontalâ€™ in
     * cards platform, this API will return all card groups configured directly under the payer.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Required parameter:
     * @return    Returns the CardGroupRes response from the API call
     */
    public CompletableFuture<CardGroupRes> cardgroupsAsync(
            final String requestId,
            final CardGroupReq body) {
        try {
            return prepareCardgroupsRequest(requestId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for cardgroups.
     */
    private ApiCall<CardGroupRes, ApiException> prepareCardgroupsRequest(
            final String requestId,
            final CardGroupReq body) {
        return new ApiCall.Builder<CardGroupRes, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SHELL.value())
                        .path("/customer-management/v1/cardgroups")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("RequestId")
                                .value(requestId).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("BearerToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, CardGroupRes.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This operation allows users to fetch audit data of account or card operations performed by
     * users of a given customer The audit data includes details of below API operations * Order
     * Card * Create Card Group * PIN reminder * Move Cards * Update Card Status * Update Card Group
     * * Auto renew * Bulk card order * Bulk card block * Bulk Card Order (Multi Account) *
     * BCOSummary * BCOMultiAccountSummary * BCBSummary * Mobile Payment Registration * Fund
     * Transfer (Scheduled &amp; Realtime) * Delivery Address Update.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Optional parameter: request body
     * @return    Returns the AuditResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public AuditResponse auditReport(
            final String requestId,
            final AuditReq body) throws ApiException, IOException {
        return prepareAuditReportRequest(requestId, body).execute();
    }

    /**
     * This operation allows users to fetch audit data of account or card operations performed by
     * users of a given customer The audit data includes details of below API operations * Order
     * Card * Create Card Group * PIN reminder * Move Cards * Update Card Status * Update Card Group
     * * Auto renew * Bulk card order * Bulk card block * Bulk Card Order (Multi Account) *
     * BCOSummary * BCOMultiAccountSummary * BCBSummary * Mobile Payment Registration * Fund
     * Transfer (Scheduled &amp; Realtime) * Delivery Address Update.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Optional parameter: request body
     * @return    Returns the AuditResponse response from the API call
     */
    public CompletableFuture<AuditResponse> auditReportAsync(
            final String requestId,
            final AuditReq body) {
        try {
            return prepareAuditReportRequest(requestId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for auditReport.
     */
    private ApiCall<AuditResponse, ApiException> prepareAuditReportRequest(
            final String requestId,
            final AuditReq body) {
        return new ApiCall.Builder<AuditResponse, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SHELL.value())
                        .path("/customer-management/v1/auditreport")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("RequestId")
                                .value(requestId).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("BearerToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, AuditResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("The request has not been applied because it lacks valid  authentication credentials for the target resource.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("The server encountered an unexpected condition that  prevented it from fulfilling the request.\n",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * - This operation fetches the International and National Price List and discount values set on
     * pump prices &amp; List Prices - It allows searching price list and discount values set on pump
     * prices that are applicable for a given customer **Note**: Accounts with cancelled status will
     * not be considered for this operation for the configured - When the search is based on
     * customer specific price list then the customer price list is returned based on the associated
     * pricing customer. - The discount values set on pump prices, which are returned by the
     * operation are always customer specific values based on the customer associated price rules.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Optional parameter: Customerdetails request body
     * @return    Returns the CustomerPriceListRes response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public CustomerPriceListRes customerPriceList(
            final String requestId,
            final CustomerPriceListReq body) throws ApiException, IOException {
        return prepareCustomerPriceListRequest(requestId, body).execute();
    }

    /**
     * - This operation fetches the International and National Price List and discount values set on
     * pump prices &amp; List Prices - It allows searching price list and discount values set on pump
     * prices that are applicable for a given customer **Note**: Accounts with cancelled status will
     * not be considered for this operation for the configured - When the search is based on
     * customer specific price list then the customer price list is returned based on the associated
     * pricing customer. - The discount values set on pump prices, which are returned by the
     * operation are always customer specific values based on the customer associated price rules.
     * @param  requestId  Required parameter: Mandatory UUID (according to RFC 4122 standards) for
     *         requests and responses. This will be played back in the response from the request.
     * @param  body  Optional parameter: Customerdetails request body
     * @return    Returns the CustomerPriceListRes response from the API call
     */
    public CompletableFuture<CustomerPriceListRes> customerPriceListAsync(
            final String requestId,
            final CustomerPriceListReq body) {
        try {
            return prepareCustomerPriceListRequest(requestId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for customerPriceList.
     */
    private ApiCall<CustomerPriceListRes, ApiException> prepareCustomerPriceListRequest(
            final String requestId,
            final CustomerPriceListReq body) {
        return new ApiCall.Builder<CustomerPriceListRes, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SHELL.value())
                        .path("/customer-management/v1/pricelist")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("RequestId")
                                .value(requestId).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("BearerToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, CustomerPriceListRes.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("The request has not been applied because it lacks valid  authentication credentials for the target resource.",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("The origin server did not find a current representation  for the target resource or is not willing to disclose  that one exists.",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("The server encountered an unexpected condition that  prevented it from fulfilling the request.",
                                (reason, context) -> new ErrorObjectException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}